# Replace with the connection string from your Neon project
DATABASE_URL="postgresql://user:password@host:port/db?sslmode=require"

# You can generate a secret with `openssl rand -base64 32`
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
